* {
    box-sizing: border-box;
  }
  
html {
    font-family: sans-serif;
    background-color: #272727;
}
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', sans-serif;
}

#backdrop {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;

}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

.modal {
    position: fixed;
    z-index: 100;
    width: 80%;
    top: 30vh;
    left: 10%;
    display: none;
    
}

.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.modal-details {
    display: flex;
    flex-direction: column;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 2rem;
}

input {
    font: inherit;
    padding: 0.4rem 0.2rem;
    border: 1px solid #ccc ;
}

label {
    font-weight: bold;
    font-size: 10px;
    margin: 0.5rem 0;
    color: #464646;
}



.modal-actions {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

.btn {
    font: inherit;
    font-size: 10px;
    border: 1px #454545 solid;
    background-color: white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
}

.modal-actions .btn--active {
    background-color: #00FF41;
}



header {
    width: 100%;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

header h1 {
    -webkit-text-stroke: 0.5px #00FF41;
    
}

header button {
    font: inherit;
    padding: 0.5rem 1rem;
    background-color: rgb(219, 127, 199);
    cursor: pointer;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    border: 1px pink solid;
}

.main-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}

#entry-text {
    width: 50%;
    height: 5rem;
    margin: 0 auto;
    border: 3px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#todo-list {
    list-style: none;
    width: 70rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 0;
    background-color: tomato;
}

.list-item {
    display: flex;
    background-color: teal;
    height: 3rem;
    width: 100%;
    margin: 9px 0px;
    border-radius: 10px;
}

.list-item_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px black solid;
}

.list-item_index {
    width: 3rem;
    font-size: 10px;
}

.list-item_description {
    width: 38rem;
    font-size: 10px;
}

.list-item_endDate {
    width: 7rem;
    font-size: 10px;
}

.list-item_status {
    width: 3rem;
}

.status-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%; /* Makes it a circle */
}

.list-item_link {
    width: 3rem;
    font-size: 10px;
}

.list-item_progress {
    width: 10rem;
}

.progress-container {
    width: 80%;
    background-color: #ccc;
}
  
.progress-bar {
    width: 0;
    height: 30px;
    background-color: #4CAF50; /* Green color for the progress */
    transition: width 24h linear; /* Progress over 24 hours */
}
  
.list-item_actions {
    width: 6rem;
}

@media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
}
